{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container text-center"> 
	<table class="table table-hover">
		<thead class="table-dark">
			<tr>
				<th scope="col">Produit</th>
				<th scope="col">Prix Unitaire</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix Total</th>
			</tr>
		</thead>
		<tbody>
			{% for ligne in panier.lignePanier %}
				<tr>
					<td>{{ligne.produit.nom}}</td>
					<td>{{ligne.produit.prix}} €</td>
					<td><input type="number" min="0" class="qteProduit" value="{{ligne.quantite}}" data-id="{{ligne.produit.id}}" data-prix="{{ligne.produit.prix}}"/></td>
					<td class="prixTotal">{{ligne.produit.prix * ligne.quantite}} €</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>
	<script src="{{asset('js/script.js')}}"></script>
{% endblock %}
